.board-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f8f8f8;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;  
  width: 100vw;
  padding-left: 250px;
}
  
.board-content {
  display: flex;
  height: 80vh;
  overflow-x: auto;
}


  
  