@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.lof-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f8f8f8;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;  
  width: 100vw;
  padding-left: 250px;
}

.table-rounded {
  border-radius: 20px;
}

.data-row {
  background-color: #fff;
  margin-bottom: 30px; /* This adds 20px of space below each row. Adjust this number to fit your needs */
}

.edit-button {
  background-color: transparent;
  color: cornflowerblue;
  cursor: pointer;
}

.feature-list {
  width: 90%;
  border-radius: 10px;
  overflow: hidden; 
}

.feature-list th, .feature-list td {
  padding: 10px 16px; /* Add top and bottom padding to space out rows. Adjust this to fit your needs */
}

.create-new-feature-btn {
  background-color: transparent;
  color: black;
  width: 300px;
  text-align: left;
}

.lof-h2 {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  word-break: break-word; /* To prevent long text from overflowing */
  margin: 20px 20px;
  color: black;
}

