listOfFeatures.css

.lof-body {
  display: flex;
}

.content {
  margin: 40px;
  width: 100%;
}

h2 {
  margin-bottom: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

h3 {
  font-size: 14px;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 8px;
  margin-left: 80px; /* To offset the width of the sidebar */
  max-width: calc(100% - 80px); /* Adjust the width based on the sidebar width */
  word-break: break-word; /* To prevent long text from overflowing */
}
