@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
  text-align: left;
  margin: 20px;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.problem-statement-input {
  width: 100%; 
  border-color: black;
  border-width: 2px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.input-container2 {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 2s ease-out, max-height 2s ease;
}

.ai-response .response-item {
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
  transition: background-color 0.3s;
  font-size: 14px;
}

.ai-response .response-item:hover {
  background-color: lightblue;
}

.ai-response .response-item.selected {
  background-color: lightskyblue;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  width: 500px;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1c4bba;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.generate-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1c4bba;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.ai-response {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: 2px solid #1c4bba;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 0 8px #1c4bba;
  max-height: 250px; /* Maximum height for the container */
  overflow-y: auto; /* Add vertical scroll when the content exceeds the maximum height */
}

.sr-only {
  width: 20px;
}

.account {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 14px;
}

.show-problem-statement {
  opacity: 1;
  max-height: 500px;
}

h2 {
  font-size: 14px;
  margin-bottom: 10px;
  color: cornflowerblue;
  /* font-weight: bolder; */
}

.reset {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #1c4bba;
  border: solid;
  border-radius: 4px;
  border-color: #1c4bba;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.finalProblemStatementLabel {
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.next-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1c4bba;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

.back-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #1c4bba;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 5px;
  }

  input {
    width: 100%;
    margin-right: 10;
  }

  .reset, .next-button, .back-button {
    position: fixed; /* Change to fixed */
    bottom: 0; /* Set bottom to 0 */
    transform: none;
    margin: 20px 10px;
  }

  .back-button {
    left: 0; /* Position the reset button on the left */
  }

  .next-button {
    right: 0; /* Position the next button on the right */
  }

  .reset {
    left: 50%; /* Position the back button in the center */
    transform: translateX(-50%); /* Center the back button horizontally */
  }
}
