.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

.sidebar-logo {
  width: 80px;
  height: auto;
}

.sign-out {
  bottom: 0;
  width: 100%;
}

.top-links {
  margin: 5px;
}

.sidebar-link {
  text-decoration: none;
  color: #000; /* Set the initial color to a lighter grey */
  font-family: 'Montserrat-semibold', sans-serif;
  padding-left: 10px;
  font-weight: 600;
}

.spaced {
  margin: 0px 0;
}

.link-content {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.sidebar-link.selected {
  color: black;
}

.sidebar-link:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.active {
  color: black;
}



