.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
}

.form {
  align-content: center;
}

.login-h2 {
  font-size: 26px;
  color: #000000;
  margin: 100px 0px;
  font-family: 'Montserrat', sans-serif;
}

.sign-in form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 200px;
}

.sign-in form label {
  margin-bottom: 10px;
}

.sign-in form input {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
