@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.summary-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    grid-template-rows: 2;
    gap: 10px;
    align-items: start;
    width: 100%;
    /* margin: 0 20px 20px 20px; */
    box-sizing: border-box;
    background: #ffffff;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 12px 0;
}

.navbar-logo {
    height: 50px;
    margin-right: 20px;
}  

.navbar button {
    background-color:#fff;
    color: #000;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

.navbar button:hover {
    color: #45b9d3;
}

.share-button {
    margin: 0px;
    font-size: 12px;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.summary-container > div {
    background: #fbfbfb;
    padding: 20px;
    border-radius: 20px;
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); */
    margin-top: 0px;
}

.summary-container h1 {
    /* grid-column: span 4; */
    margin-top: 0px;
}

.summary-container p {
    font-size: 12px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.summary-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 40px;
    align-self: center;
    margin: 10px;
}

.content-container > div {
    box-sizing: border-box;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); */
    margin-top: 10px;
}

@media screen and (max-width: 600px) {

    .content-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9, auto);
        justify-content: center; 
        align-items: center; 
        width: 40vh;
        /* margin-left: 50px; */
    }
    
    .modal-close {
        position: static;
        margin: 10px 0;
    }

    .navbar {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
}
