.view-feature {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f8f8f8;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;  
  width: 100vw;
  padding-left: 200px;
}

.feature-name {
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  word-break: break-word; /* To prevent long text from overflowing */
  margin: 20px 20px;
  color: black;
}

.problem-statement, .feature-input-field {
  background-color: white;
  color: black;
  padding: 15px;
  border-radius: 8px;
  margin: 15px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.feature-text {
  display: flex;
  justify-content: space-between;
  align-items: center; /* If you want to vertically center the text and the icon */
  width: 100%; /* If you want the container to take up the full width available */
  background-color: white;
}

.editable-field {
  font-size: 1em; /* adjust as needed */
  padding: 0;
  margin: 0;
  border: none; /* removes the default border on inputs */
  outline: none; /* removes the highlight outline on inputs */
  background: transparent; /* makes the input's background transparent */
  width: 90%; /* reduced width to accommodate the icon */
}

.form-columns {
  display: flex;
  justify-content: space-between;
}

.form-column {
  width: 45%; /* You can adjust this value based on your needs */
}

@media screen and (max-width: 1200px) {
  .view-feature {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .view-feature {
    padding-left: 1rem;
  }

  .feature-name {
    font-size: 2rem;
    margin: 10px;
  }

  .form-columns {
    flex-direction: column;
  }

  .form-column {
    width: 100%;
  }

  .problem-statement, .feature-input-field {
    margin: 5px;
    padding: 10px;
  }
}
