@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  min-height: 100vh; /* Set body height to at least 100% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow {
  position: absolute;
  bottom: 10px;
}

.container1 {
  height: 100vh; /* Sets the minimum height of the container to fill the viewport */
  width: 100vw;
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack the children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
}

.footer {
  height: 100px;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

.container2 {
  height: 100%; /* Sets the minimum height of the container to fill the viewport */
  width: 100vw;
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack the children vertically */
  justify-content:space-between; /* Center children vertically */
  align-items:center; /* Center children horizontally */
  padding: 0 50px;  /* 0 padding on the top and bottom, 10px padding on the left and right */
}

.container3 {
  height: 100vh; /* Sets the minimum height of the container to fill the viewport */
  width: 100vw;
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack the children vertically */
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
}

.problem-image {
  width: 200px;
  height: 200px;
}

.problem-section {
  display: flex; /* Use Flexbox */
  flex-direction: row;
  justify-content:space-around; /* Center children vertically */
  align-items: center; /* Center children horizontally */
}

/* Start of Media Query */
@media screen and (max-width: 600px) {
  .container {
    /* padding: 0 15px;  */
  }
  .form-input, .btn {
    width: 100%; 
  }
  .blurb {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* End of Media Query */

.content-container {
  margin-bottom: 20px
  
}

.email-form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 0px;
}

.spinning-logo {
  animation: spin 15s linear infinite; /* Apply the "spin" animation with 2 seconds duration, linear timing function, and repeat infinitely */
  width: 100px; /* Adjust the width to make the logo smaller */

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 4px;
}

.title {
  font-size: 34px;
  color: #000;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold; /* Add the font-weight property to make the title bold */
}


.subtitle {
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  justify-self: center;  
}

.header {
  font-size: 30px;
  color: #000;
  padding-top: 100px;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  justify-self: center;
  
}

h3 {
  font-size: 26px;
  color: #000000;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 16px;
  color: #000000;
    width: 70%;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.h4 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.blurb {
  font-size: 12px;
  color: #fff;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 100px;
  padding-right: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-align: left;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 15px 30px;
  font-size: 18px;
  background-color: #1c4bba;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  text-decoration: none; /* Remove default underline style for anchor tags */
  width: fit-content; /* Adjust the button width based on content */
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  background-color: #45b9d3;
}

.login-btn-container {
  position: absolute; 
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  color: #000;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}




