@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #000;
  position: relative;
}

.container {
  text-align: center;
  margin: 20px auto;
}
.content-container {
  margin-bottom: 20px
}

.email-form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 0px;
}


.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 4px;
}

.title {
  font-size: 28px;
  color: #fff;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.h4 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.blurb {
  font-size: 12px;
  color: #fff;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-align: left;
}

.btn {
  flex: 1;
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #1c4bba;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: transparent; /* Set the background color to transparent */
  color: #fff;
  border: none; /* Remove the border */
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}


.btn:hover {
  background-color: #45b9d3;
}

.prediction {
  font-size: 20px;
  color: #fff;
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.error {
  color: #ff0000;
  font-size: 16px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
}
.footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #777;
}
.navbar-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-item {
  margin-right: 10px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  padding: 5px 5px;
  font-family: 'Montserrat', sans-serif;
    /* Add other styling properties if needed */
  }

.navbar-link:hover {
  color: #00BFFF;
}

